<div class="sign-up-container">
  <mat-card class="sign-up-card">
    <mat-card-header>
      <mat-card-title>Registrazione</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="sign-up-form" autocomplete="on">
        <mat-form-field class="full-width">
          <input matInput placeholder="Email" [(ngModel)]="signUpData.utente.email" name="email" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" [(ngModel)]="signUpData.utente.password" name="password" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Nome" [(ngModel)]="signUpData.cliente.nome" name="nome" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Indirizzo" [(ngModel)]="signUpData.cliente.indirizzo" name="indirizzo" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Numero di telefono" [(ngModel)]="signUpData.cliente.numTelefono" name="numTelefono">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput type="number" placeholder="Età" [(ngModel)]="signUpData.cliente.eta" name="eta" required>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="register()">Registrati</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
