<div class="container">
    <div>
        <h2>Scegli il tipo di inserimento:</h2>
        <mat-form-field appearance="fill">
            <mat-label>Tipo di inserimento</mat-label>
            <mat-select [(ngModel)]="selectedEntity" (ngModelChange)="showForm = true">
                <mat-option value="">Seleziona...</mat-option>
                <mat-option value="volo">Volo</mat-option>
                <mat-option value="aereo">Aereo</mat-option>
                <mat-option value="cliente">Cliente</mat-option>
                <mat-option value="utente">Utente</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div *ngIf="selectedEntity === 'volo'">
        <form (ngSubmit)="submitForm(selectedEntity)">
            <div *ngIf="showForm">
                <mat-form-field>
                    <mat-label>ID Volo:</mat-label>
                    <input matInput type="text" id="idVolo" [(ngModel)]="selectedEntity.idVolo" name="idVolo" required>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>ID Aeroporto Origine:</mat-label>
                    <input matInput type="number" id="idAeroportoOrigine"
                        [(ngModel)]="selectedEntity.idAeroportoOrigine" name="idAeroportoOrigine" required>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>ID Aeroporto Destinazione:</mat-label>
                    <input matInput type="number" id="idAeroportoDestinazione"
                        [(ngModel)]="selectedEntity.idAeroportoDestinazione" name="idAeroportoDestinazione" required>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>ID Aeroporto Scalo:</mat-label>
                    <input matInput type="number" id="idAeroportoScalo" [(ngModel)]="selectedEntity.idAeroportoScalo"
                        name="idAeroportoScalo" required>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>ID Aereo:</mat-label>
                    <input matInput type="number" id="idAereo" [(ngModel)]="selectedEntity.idAereo" name="idAereo"
                        required>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Posti Prenotati:</mat-label>
                    <input matInput type="number" id="postiPrenotati" [(ngModel)]="selectedEntity.postiPrenotati"
                        name="postiPrenotati" required>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Posti Disponibili:</mat-label>
                    <input matInput type="number" id="postiDisponibili" [(ngModel)]="selectedEntity.postiDisponibili"
                        name="postiDisponibili" required>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Costo Base:</mat-label>
                    <input matInput type="number" id="costoBase" [(ngModel)]="selectedEntity.costoBase" name="costoBase"
                        required>
                </mat-form-field>

                <br>
                <button mat-raised-button color="primary" type="submit">{{ selectedEntity.idVolo ? 'Modifica' :
                    'Inserisci'
                    }}</button>
                <button mat-raised-button type="button" (click)="clearForm()">Annulla</button>

            </div>
        </form>
    </div>
    <div *ngIf="selectedEntity === 'aereo'">
        <form (ngSubmit)="submitForm(selectedEntity)">
            <div *ngIf="showForm">
                <mat-form-field>
                    <mat-label>Compagnia Aerea:</mat-label>
                    <input matInput type="text" id="compagniaAerea" [(ngModel)]="selectedEntity.compagniaAerea"
                        name="compagniaAerea" required>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Modello:</mat-label>
                    <input matInput type="text" id="modello" [(ngModel)]="selectedEntity.modello" name="modello"
                        required>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Stato:</mat-label>
                    <select matNativeControl [(ngModel)]="selectedEntity.stato" name="stato">
                        <option [value]="1">Funzionante</option>
                        <option [value]="0">Non funzionante</option>
                    </select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Posti Totali:</mat-label>
                    <input matInput type="number" id="postiTotali" [(ngModel)]="selectedEntity.postiTotali"
                        name="postiTotali" required>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Capienza Merci:</mat-label>
                    <input matInput type="number" id="capienzaMerci" [(ngModel)]="selectedEntity.capienzaMerci"
                        name="capienzaMerci" required>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Note:</mat-label>
                    <textarea matInput id="note" [(ngModel)]="selectedEntity.note" name="note" rows="5"></textarea>
                </mat-form-field>

                <br>
                <button mat-raised-button color="primary" type="submit">{{ selectedEntity.idAereo ? 'Modifica' :
                    'Inserisci' }}</button>
                <button mat-raised-button type="button" (click)="clearForm()">Annulla</button>
            </div>
        </form>

    </div>
    <div *ngIf="selectedEntity === 'cliente'">
        <form (ngSubmit)="submitForm(selectedEntity)">
            <div *ngIf="showForm">
                <mat-form-field>
                    <mat-label>Nome:</mat-label>
                    <input matInput type="text" id="nome" [(ngModel)]="selectedEntity.nome" name="nome" required>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Indirizzo:</mat-label>
                    <input matInput type="text" id="indirizzo" [(ngModel)]="selectedEntity.indirizzo" name="indirizzo"
                        required>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Numero di Telefono:</mat-label>
                    <input matInput type="tel" id="numTelefono" [(ngModel)]="selectedEntity.numTelefono"
                        name="numTelefono" required>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Età:</mat-label>
                    <input matInput type="number" id="eta" [(ngModel)]="selectedEntity.eta" name="eta" required>
                </mat-form-field>

                <br>
                <button mat-raised-button color="primary" type="submit">{{ selectedEntity.idCliente ? 'Modifica' :
                    'Inserisci' }}</button>
                <button mat-raised-button type="button" (click)="clearForm()">Annulla</button>
            </div>
        </form>
    </div>
    <div *ngIf="selectedEntity === 'utente'">
        <form (ngSubmit)="submitForm(selectedEntity)">
            <div *ngIf="showForm">
                <mat-form-field>
                    <mat-label>Email:</mat-label>
                    <input matInput type="email" id="email" [(ngModel)]="selectedEntity.email" name="email" required>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Password:</mat-label>
                    <input matInput type="password" id="password" [(ngModel)]="selectedEntity.password" name="password"
                        required>
                </mat-form-field>

                <br>
                <button mat-raised-button color="primary" type="submit" (click)="submitForm(selectedEntity)">Inserisci</button>
                <button mat-raised-button type="button" (click)="clearForm()">Annulla</button>
            </div>
        </form>

    </div>


</div>