.example-spacer {
  flex: 1 1 auto;
}

.container {
  display: flex;
}

.video {
  margin-right: 10px;
  width: 60%; 
  height: 60%; 
}

.img {
  margin-left: 10px;
  width: 70%; 
  height: 70%; 
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Nasconde lo scrolling orizzontale se presente */
}

.video, .img {
  flex: 1; /* Dividi lo spazio disponibile in modo che i due elementi occupino lo stesso spazio */
  overflow: hidden; /* Nasconde eventuali contenuti extra che eccedono le dimensioni */
}

.button{
  left: 100px;
  width: 20%;  
}

